body, html {
  height: 100%;
}

body {
  font-size: 1.125rem;
  line-height: 150%;
  background: white;
  font-family: Helvetica, Arial, serif;
  color: #303030;
  position: relative;
  padding: 0;
  margin: 0;
}
@media (max-width: 480px) {
  body {
    font-size: 1.375rem;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  body {
    font-size: 1.375rem;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  body {
    font-size: 1.375rem;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  body {
    font-size: 1.375rem;
  }
}
@media (min-width: 1200px) {
  body {
    font-size: 1.375rem;
  }
}
body * {
  -webkit-text-size-adjust: none;
}

img {
  display: block;
  max-width: 100%;
  vertical-align: top;
}
img.portrait {
  max-height: 86vh;
}

a {
  color: #3498db;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  cursor: pointer;
}
a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
  line-height: 1;
}

img, fieldset, a img {
  border: none;
}

button {
  border: none;
  background: none;
}

input[type="submit"],
button {
  cursor: pointer;
}
input[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

figure {
  margin: 0;
}

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6,
a, a:focus, span {
  outline: none;
}

.site-header {
  background-color: #2ECC71;
  padding: 10px 0;
}
.site-header .top-menu {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}
.site-header .top-menu li {
  list-style: none;
}
.site-header .top-menu li {
  margin-right: 35px;
  flex: 0 0 auto;
}
@media (max-width: 480px) {
  .site-header .top-menu li {
    display: none;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .site-header .top-menu li {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .site-header .top-menu li {
    display: none;
  }
}
.site-header .top-menu li.mobile {
  display: none;
}
@media (max-width: 480px) {
  .site-header .top-menu li.mobile {
    display: block;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .site-header .top-menu li.mobile {
    display: block;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .site-header .top-menu li.mobile {
    display: block;
  }
}
.site-header .top-menu li a {
  text-decoration: none;
  color: white;
}
.site-header .top-menu li a.cheesburger {
  display: none;
}
.site-header .top-menu li a.cheesburger:before {
  font-size: inherit;
  line-height: 1;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  font-family: FontAwesome;
  content: '\f0c9';
}
@media (max-width: 480px) {
  .site-header .top-menu li a.cheesburger {
    display: inline-block;
    vertical-align: middle;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .site-header .top-menu li a.cheesburger {
    display: inline-block;
    vertical-align: middle;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .site-header .top-menu li a.cheesburger {
    display: inline-block;
    vertical-align: middle;
  }
}
.site-header .top-menu li input {
  padding: 10px;
  border-radius: 2px;
  border: 1px solid white;
  width: 250px;
}
.site-header .top-menu li button i {
  width: 22px;
  height: 22px;
  color: white;
}
.site-header .top-menu li button i:before {
  content: '\f002';
  display: inline-block;
  font: normal normal normal 22px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.mobile-header {
  background-color: #60E598;
  display: none;
}
@media (max-width: 480px) {
  .mobile-header.active {
    display: block;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .mobile-header.active {
    display: block;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .mobile-header.active {
    display: block;
  }
}
.mobile-header .mobile-top-menu {
  margin: 0;
  padding: 0;
  text-align: center;
  padding: 10px 0;
}
.mobile-header .mobile-top-menu li {
  list-style: none;
}
.mobile-header .mobile-top-menu li {
  padding: 10px 0;
}
.mobile-header .mobile-top-menu li a {
  text-decoration: none;
  color: white;
}
.mobile-header .mobile-top-menu li input {
  padding: 10px;
  border-radius: 2px;
  border: 1px solid white;
  width: calc(100% - 160px);
}
.mobile-header .mobile-top-menu li button i {
  width: 22px;
  height: 22px;
  color: white;
}
.mobile-header .mobile-top-menu li button i:before {
  content: '\f002';
  display: inline-block;
  font: normal normal normal 22px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.container {
  width: calc(100% - ($padding-side * 2));
  padding: 0 30px;
}
@media (max-width: 480px) {
  .container {
    width: calc(100% - ($padding-side-mobile * 2));
    padding: 0 20px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .container {
    width: calc(100% - ($padding-side-mobile * 2));
    padding: 0 20px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .container {
    width: calc(100% - ($padding-side-mobile * 2));
    padding: 0 20px;
  }
}

.if {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.if video,
.if iframe,
.if object,
.if embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.tweet iframe {
  margin: auto !important;
}

.instagram {
  text-align: center;
}
.instagram iframe {
  max-width: 100%;
  display: inline-block !important;
}

.social-likes__widget {
  background: #e3e8ec;
  border-radius: 3px;
}

.social-likes__button {
  color: #454545;
}

.social-likes__counter {
  color: #454545;
}

ul.social {
  padding: 0;
  text-align: center;
}
ul.social li {
  display: inline-block;
  vertical-align: middle;
  margin-right: .5em;
}
ul.social li:nth-last-child(1) {
  margin-right: 0;
}
ul.social li:after {
  content: none;
}
ul.social li a.icon {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  width: 1.4em;
  height: 1.4em;
  line-height: 1;
  padding: .2em;
  color: #a3a3a3;
  text-shadow: 1px 1px 2px #fff;
  border-radius: 100%;
}
ul.social li a.icon:hover {
  color: black;
}

.poster {
  table-layout: fixed;
  display: table;
  width: 100%;
  box-sizing: border-box;
}
@media (max-width: 480px) {
  .poster {
    display: none;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .poster {
    display: none;
  }
}
.poster .poster-content {
  display: table-cell;
  vertical-align: top;
  box-sizing: border-box;
  vertical-align: middle;
  text-align: center;
  background-size: cover !important;
  background-position: center center !important;
  height: 50vh;
}
.poster .poster-content span {
  color: white;
  text-align: center;
  display: inline-block;
  width: 60%;
  margin: 0 auto;
  margin-top: 100px;
}
.poster .poster-content i {
  display: block;
  margin: 30px auto;
  width: 28px;
  height: 22px;
  color: white;
}
.poster .poster-content i:before {
  content: '\f078';
  font: normal normal normal 26px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-weight: 200;
}

.site-container {
  margin-top: 30px;
  width: calc(100% - ($padding-side * 2));
  padding: 0 30px;
  display: flex;
  flex-flow: row nowrap;
}
@media (max-width: 480px) {
  .site-container {
    width: calc(100% - ($padding-side-mobile * 2));
    padding: 0 20px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .site-container {
    width: calc(100% - ($padding-side-mobile * 2));
    padding: 0 20px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .site-container {
    width: calc(100% - ($padding-side-mobile * 2));
    padding: 0 20px;
  }
}
.site-container .content {
  flex: 1 65%;
  padding-right: 15px;
}
@media (max-width: 480px) {
  .site-container .content {
    padding-right: 0px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .site-container .content {
    padding-right: 0px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .site-container .content {
    padding-right: 0px;
  }
}
.site-container .site-side {
  flex: 1 35%;
  padding-left: 15px;
}
@media (max-width: 480px) {
  .site-container .site-side {
    display: none;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .site-container .site-side {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .site-container .site-side {
    display: none;
  }
}

.post + .post {
  margin-top: 30px;
}
.post header .meta {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-bottom: 20px;
}
.post header .meta .meta-block {
  flex: 0 0 auto;
}
.post header .meta .author-photo {
  width: 40px;
  margin-right: 10px;
}
.post header .meta .author-photo img {
  width: 38px;
  height: 38px;
}
.post header .meta .author-and-time {
  width: calc(50% - 25px);
  margin: 0;
  padding: 0;
  font-size: 0.875rem;
  line-height: 20px;
}
.post header .meta .author-and-time li {
  list-style: none;
}
.post header .meta .author-and-time .author-name {
  color: #2ECC71;
  text-decoration: none;
}
.post header .meta .author-and-time time {
  color: #c9c9c9;
}
.post header .meta .tags {
  width: calc(50% - 25px);
  text-align: right;
  font-size: 0.875rem;
  line-height: 20px;
}
.post header .meta .tags a {
  color: #c9c9c9;
  text-decoration: none;
}
.post header .meta .tags a:after {
  content: ', ';
}
.post header .meta .tags a:nth-last-child(1):after {
  display: none;
}
.post header .poster-small {
  display: block;
  width: 100%;
  height: 220px;
  background-repeat: none;
  background-size: cover !important;
  background-position: 50% 50% !important;
}
.post .post-preview .article-title {
  font-weight: bold;
  color: black;
  font-size: 1.5rem;
}
.post .post-preview .preview-link {
  text-decoration: none;
}
.post .post-preview .preview-link p {
  color: #616161;
  font-size: 1.125rem;
  margin: 0;
  line-height: 1.5;
}

.side-block + .side-block {
  margin-top: 40px;
}
.side-block .side-title {
  font-size: 1.125rem;
  font-weight: bold;
}
.side-block ul {
  margin: 0;
  padding: 0;
}
.side-block ul li {
  list-style: none;
}
.side-block ul li + li {
  margin-top: 10px;
}
.side-block ul .side-post {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  line-height: 1;
  border-top: 1px solid #c9c9c9;
  padding-top: 10px;
}
.side-block ul .side-post > div {
  flex: 0 auto;
}
.side-block ul .side-post > div.image {
  margin-right: 10px;
}
.side-block ul .side-post h3 {
  margin: 0;
}
.side-block ul .side-post a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1rem;
}
.side-block ul .side-post time {
  color: #c9c9c9;
  font-size: 0.875rem;
}

.pagination {
  margin: 30px 0;
}
.pagination ul {
  margin: 0;
  padding: 0;
  text-align: center;
}
.pagination ul li {
  list-style: none;
  display: inline-block;
  vertical-align: middle;
}
.pagination ul li {
  padding: 0 7px;
}
.pagination ul li a {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.125rem;
  font-weight: bold;
  text-decoration: none;
  color: black;
  padding: 4px 8px;
}
.pagination ul li.active {
  background-color: #2ECC71;
}
.pagination ul li.active a {
  color: white;
}

footer {
  padding: 30px 0;
  border-top: 1px solid #979797;
  text-align: center;
}
footer .copy span {
  font-style: italic;
  font-size: 1.125rem;
  color: #474646;
}
footer .copy span a {
  text-decoration: none;
  color: #2ECC71;
}

.single-post {
  margin-bottom: 30px;
}
.single-post header .meta {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-bottom: 20px;
}
.single-post header .meta .meta-block {
  flex: 0 0 auto;
}
.single-post header .meta .author-photo {
  width: 40px;
  margin-right: 10px;
}
.single-post header .meta .author-photo img {
  width: 38px;
  height: 38px;
}
.single-post header .meta .author-and-time {
  width: calc(50% - 25px);
  margin: 0;
  padding: 0;
  font-size: 0.875rem;
  line-height: 20px;
}
.single-post header .meta .author-and-time li {
  list-style: none;
}
.single-post header .meta .author-and-time .author-name {
  color: #2ECC71;
  text-decoration: none;
}
.single-post header .meta .author-and-time time {
  color: #c9c9c9;
}
.single-post header .meta .tags {
  width: calc(50% - 25px);
  text-align: right;
  font-size: 0.875rem;
  line-height: 20px;
}
.single-post header .meta .tags a {
  color: #c9c9c9;
  text-decoration: none;
}
.single-post header .meta .tags a:after {
  content: ', ';
}
.single-post header .meta .tags a:nth-last-child(1):after {
  display: none;
}
.single-post .article-title {
  font-weight: bold;
  color: black;
  font-size: 1.5rem;
}
.single-post article p {
  color: #616161;
  font-size: 1.125rem;
  margin: 0;
  line-height: 1.5;
}
.single-post article p img {
  margin: 0 auto;
}
.single-post article > * + * {
  margin-top: 20px !important;
}
.single-post article h2, .single-post article h3, .single-post article h4, .single-post article h5 {
  color: #358340;
}
.single-post article table {
  width: 100%;
  margin: auto;
  margin-bottom: 1em;
}
.single-post article table tr th {
  font-weight: 700;
}
.single-post article table tr th, .single-post article table tr td {
  text-align: center;
  vertical-align: middle;
  padding: .2em;
  margin: 0;
  background: #ecf0f1;
}
.single-post article table tr:hover td {
  background: #d5d5d5;
}
.single-post article blockquote {
  margin: 0;
  padding: 0.3em 1em;
  border-left: 8px solid #6fa374;
}
.single-post article .mediadesc, .single-post article .mdesc {
  text-align: center;
  font-style: italic;
}

.post-aside > * + * {
  margin-top: 40px;
}
.post-aside * .aside-title {
  font-size: 1.125rem;
  font-weight: bold;
}

.related-posts h3 {
  font-size: 1.125rem;
  font-weight: bold;
}
.related-posts ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
}
.related-posts ul li {
  list-style: none;
  display: inline-block;
  vertical-align: middle;
}
.related-posts ul.related-bottom li:nth-child(2n+1) {
  padding-right: 10px;
}
@media (max-width: 480px) {
  .related-posts ul.related-bottom li:nth-child(2n+1) {
    padding-right: 0;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .related-posts ul.related-bottom li:nth-child(2n+1) {
    padding-right: 0;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .related-posts ul.related-bottom li:nth-child(2n+1) {
    padding-right: 0;
  }
}
.related-posts ul li {
  flex: 1 50%;
  margin-bottom: 20px;
  box-sizing: border-box;
}
@media (max-width: 480px) {
  .related-posts ul li {
    flex: 1 100%;
    margin-bottom: 0;
  }
  .related-posts ul li + li {
    margin-top: 20px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .related-posts ul li {
    flex: 1 100%;
    margin-bottom: 0;
  }
  .related-posts ul li + li {
    margin-top: 20px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .related-posts ul li {
    flex: 1 100%;
    margin-bottom: 0;
  }
  .related-posts ul li + li {
    margin-top: 20px;
  }
}
.related-posts ul .side-post {
  line-height: 1;
  display: flex;
}
.related-posts ul .side-post > div {
  flex: 0 auto;
}
.related-posts ul .side-post > div.image {
  margin-right: 10px;
}
.related-posts ul .side-post h3 {
  margin: 0;
}
.related-posts ul .side-post a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1rem;
}
.related-posts ul .side-post time {
  color: #c9c9c9;
  font-size: 0.875rem;
}

.result-of-search {
  width: calc(100% - ($padding-side * 2));
  padding: 0 30px;
}
@media (max-width: 480px) {
  .result-of-search {
    width: calc(100% - ($padding-side-mobile * 2));
    padding: 0 20px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .result-of-search {
    width: calc(100% - ($padding-side-mobile * 2));
    padding: 0 20px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .result-of-search {
    width: calc(100% - ($padding-side-mobile * 2));
    padding: 0 20px;
  }
}
.result-of-search h4 {
  color: #616161;
  font-weight: bold;
  font-size: 1.25rem;
}

/*# sourceMappingURL=style.css.map */
